<div ng-init="check_login()">

	<br>
	<div ng-show="user.user_type == 'instructor'">
		<p>Instructor Controls:</p>
		<button class="btn btn-default" data-toggle="modal" data-target="#createGroup">Create Group</button>
		<button class="btn btn-default" ng-click="updateGroups()">Send Changes to DB</button>
	</div>
	
	

	<br>
	<form>
    	<div class="form-group">
    		<div class="input-group">
        		<div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
        		<input type="text" class="form-control" placeholder="Search Groups" ng-model="searchGroups">
      		</div>      
    	</div>
  	</form>
	
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				
				<th><a ng-click="sortType = 'group_name'; sortReverse = !sortReverse">
            		Group Name
            		<span ng-show="sortType == 'group_name' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
            		<span ng-show="sortType == 'group_name' && sortReverse" class="glyphicon glyphicon-chevron-up"></span></a></th>
				<th><a ng-click="sortType = 'ta'; sortReverse = !sortReverse">
            		TA Netid
            		<span ng-show="sortType == 'ta' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
            		<span ng-show="sortType == 'ta' && sortReverse" class="glyphicon glyphicon-chevron-up"></span></a></th>
				<th><a ng-click="sortType = 'group_rating'; sortReverse = !sortReverse">
            		Rating
            		<span ng-show="sortType == 'group_rating' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
            		<span ng-show="sortType == 'group_rating' && sortReverse" class="glyphicon glyphicon-chevron-up"></span></a></th>
			</tr>
		</thead>
		
		<tbody>
			<tr data-toggle="modal" data-target="#myModal" ng-click="editGroupInfo(x)" ng-repeat="x in data.groups | orderBy:sortType:sortReverse | filter:searchGroups"">
				<td>{{x.group_name}}</td>
				<td>{{x.ta_name}}</td>
				<td ng-class="{green: x.group_rating >= yellow_limit, yellow: x.group_rating < yellow_limit && x.group_rating > red_limit, red: x.group_rating <= red_limit}">{{x.group_rating}}</td>
			</tr>	
		</tbody>
	</table>
	
	
	<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit Group Information</h4>
        </div>
        <div class="modal-body">
			<div class="row">
				<div class="col-md-6">
					<p>Group Name: {{groupInfo.group_name}}</p>
					<p>TA: {{groupInfo.ta_name}}</p>
					<p>Group Rating: <input ng-model="groupInfo.group_rating"></p>
					<p>Group Notes: <textarea ng-model="groupInfo.group_notes"/></p>
				</div>
				<div class="col-md-6">
					<p>Individual Ratings: </p>
					<div ng-repeat="y in data.students">
						<div ng-if="y.group_name == groupInfo.group_name">
							{{y.netid}}: <input ng-model="y.rating">
						</div>
					</div>
				</div>
			</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
    <div class="modal fade" id="createGroup" role="dialog">
    <div class="modal-dialog">
    
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Create Group</h4>
        </div>
        <div class="modal-body">
			<label>Upload Groups by CSV (group name, ta netid, students...)</label>
			<div class="btn btn-default">
			<input type="file" id="csv-file" name="files"/>
			</div>
			<button class="btn btn-default" id="csv-button" ng-click="csvGroups()" >Add To DB</button>
			
			<br>
			<br>
		
			<label>Create Group individaully</label>
			<p>Select TA: <select ng-model="newGroup.ta" ng-options="x.netid for x in data.tas"></select></p>
			
			<p>Select Students: <select ng-model="newGroup.studentToAdd" ng-options="x.netid for x in data.students"></select>
				<button class="btn btn-default btn-sm" ng-click="addStudentToGroup()"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> </button></p>
			<div ng-repeat="y in newGroup.students">
				{{y.netid}}
			</div>
			
			
			<!-- Do we try to limit this list to just students who aren't in groups? -->
			<p>Group Name: <input ng-model="newGroup.group_name"></p>
			
			<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="createGroup()">Create Group</button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>

</div>