<div ng-init="check_login()">
	
	<br>
	<div ng-show="user.user_type == 'instructor'">
		<p>Instructor Controls:</p>
		<button class="btn btn-default" data-toggle="modal" data-target="#addStudents">Add Students</button>
		<button class="btn btn-default" ng-click="updateStudents()">Send Changes to DB</button>
	</div>
	
	
	<br>
	<form>
    	<div class="form-group">
    		<div class="input-group">
        		<div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
        		<input type="text" class="form-control" placeholder="Search Students" ng-model="searchStudents">
      		</div>      
    	</div>
  	</form>
	
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th><a ng-click="sortType = 'netid'; sortReverse = !sortReverse">
            		Netid
            		<span ng-show="sortType == 'netid' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
            		<span ng-show="sortType == 'netid' && sortReverse" class="glyphicon glyphicon-chevron-up"></span></a></th>
				<th><a ng-click="sortType = 'first_name'; sortReverse = !sortReverse">
            		First Name
            		<span ng-show="sortType == 'first_name' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
            		<span ng-show="sortType == 'first_name' && sortReverse" class="glyphicon glyphicon-chevron-up"></span></a></th>
				<th><a ng-click="sortType = 'last_name'; sortReverse = !sortReverse">
            		Last Name
            		<span ng-show="sortType == 'last_name' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
            		<span ng-show="sortType == 'last_name' && sortReverse" class="glyphicon glyphicon-chevron-up"></span></a></th>
				<th><a ng-click="sortType = 'group_name'; sortReverse = !sortReverse">
            		Group
            		<span ng-show="sortType == 'group_name' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
            		<span ng-show="sortType == 'group_name' && sortReverse" class="glyphicon glyphicon-chevron-up"></span></a></th>
				<th><a ng-click="sortType = 'rating'; sortReverse = !sortReverse">
            		Rating
            		<span ng-show="sortType == 'rating' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
            		<span ng-show="sortType == 'rating' && sortReverse" class="glyphicon glyphicon-chevron-up"></span></a></th>
				<th>Picture</th>
			</tr>
		</thead>
		
		<tbody>
			<tr data-toggle="modal" data-target="#viewStudent" ng-click="editStudentInfo(x)" ng-repeat="x in data.students | orderBy:sortType:sortReverse | filter:searchStudents"">
				<td>{{x.netid}}</td>
				<td>{{x.first_name}}</td>
				<td>{{x.last_name}}</td>
				<td>{{x.group_name}}</td>
				<td ng-class="{green: x.rating >= yellow_limit, yellow: x.rating < yellow_limit && x.rating > red_limit, red: x.rating <= red_limit}">{{x.rating}}</td>
				<td><img ng-src="{{x.picture}}" style="max-height:100px"></td>
			</tr>	
		</tbody>
	</table>
	
	<div class="modal fade" id="addStudents" role="dialog">
    <div class="modal-dialog">
    
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add Students</h4>
        </div>
        <div class="modal-body">
			<p>Add Students by CSV (COMING SOON!)</p>
			<label>Add Students Individually</label>
				<div class="row">
					<div class="col-sm-4">
						First Name: <input class="form-control" ng-model="newStudent.first_name">
					</div>
					<div class="col-sm-4">
						Last Name: <input class="form-control" ng-model="newStudent.last_name">
					</div>
					<div class="col-sm-4">
						Netid: <input class="form-control" ng-model="newStudent.netid">
					</div>
					<div class="col-sm-4">
						<button class="btn btn-default" ng-click="addStudent()">Add Student</button>
					</div>
				</div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
	
	
	<div class="modal fade" id="viewStudent" role="dialog">
    <div class="modal-dialog">
    
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit Student Information</h4>
        </div>
        <div class="modal-body">
			<div class="row">
				<div class="col-md-6">
					<img ng-src="{{studentInfo.picture}}" style="max-height:400px">
				</div>
				<div class="col-md-6">
					<p>Name: {{studentInfo.first_name}} {{studentInfo.last_name}}</p> 
					<p>Netid: {{studentInfo.netid}}</p>
					<p>Group: {{studentInfo.group_name}} </p>
					<p>Rating: <input ng-model="studentInfo.rating"></p>
					<p>Notes: <textarea ng-model="studentInfo.notes"></p>
				</div>
			</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
  
  
  
	

</div>