<div ng-init="check_login()">

	<br>
	<div ng-show="user.user_type == 'instructor'">
		<p>Instructor Controls:</p>
		<button class="btn btn-default" data-toggle="modal" data-target="#addTa">Add TA</button>
	</div>

	<br>
	<form>
    	<div class="form-group">
    		<div class="input-group">
        		<div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
        		<input type="text" class="form-control" placeholder="Search TAs" ng-model="searchTas">
      		</div>      
    	</div>
  	</form>
	
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th><a ng-click="sortType = 'netid'; sortReverse = !sortReverse">
            		Netid
            		<span ng-show="sortType == 'netid' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
            		<span ng-show="sortType == 'netid' && sortReverse" class="glyphicon glyphicon-chevron-up"></span></a></th>
				<th><a ng-click="sortType = 'first_name'; sortReverse = !sortReverse">
            		First Name
            		<span ng-show="sortType == 'first_name' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
            		<span ng-show="sortType == 'first_name' && sortReverse" class="glyphicon glyphicon-chevron-up"></span></a></th>
				<th><a ng-click="sortType = 'last_name'; sortReverse = !sortReverse">
            		Last Name
            		<span ng-show="sortType == 'last_name' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
            		<span ng-show="sortType == 'last_name' && sortReverse" class="glyphicon glyphicon-chevron-up"></span></a></th>
			</tr>
		</thead>
		
		<tbody>
			<tr ng-repeat="x in data.tas | orderBy:sortType:sortReverse | filter:searchTas"">
				<td>{{x.netid}}</td>
				<td>{{x.first_name}}</td>
				<td>{{x.last_name}}</td>
			</tr>	
		</tbody>
	</table>
	
	
	<div class="modal fade" id="addTa" role="dialog">
    <div class="modal-dialog">
    
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add TAs</h4>
        </div>
        <div class="modal-body">
			<p>First Name: <input ng-model="newTa.first_name"></p>
			<p>Last Name: <input ng-model="newTa.last_name"></p>
			<p>Netid: <input ng-model="newTa.netid"></p>
			<button type="button" class="btn btn-default" ng-click="addTa()">Add TA</button>
        </div>
        <div class="modal-footer">
		  
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
	
</div>